[submodule "eurekaDiscovery"]
	path = eurekaDiscovery
	url = https://github.com/abderrahimJK/eurekaDiscovery.git
[submodule "Gatewaye_service"]
	path = Gatewaye_service
	url = https://github.com/abderrahimJK/Gatewaye_service.git
[submodule "Immatriculation_MicroService"]
	path = Immatriculation_MicroService
	url = https://github.com/abderrahimJK/Immatriculation_MicroService.git
[submodule "Infraction_MicroService"]
	path = Infraction_MicroService
	url = https://github.com/abderrahimJK/Infraction_MicroService.git
