<div class="container">
  <div class="d-flex align-items-center justify-content-center vh-100" *ngIf="isLoading; else elseBlock" >
    <img src="assets/img/loader.svg">
  </div>
    <ng-template  #elseBlock class="card m-5 p-3">
      <div class="card-body">
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Violation Price</th>
              <th>Vehicle Speed</th>
              <th>Radar Max Speed</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let infraction of infractions">
              <td>{{ infraction.id }}</td>
              <td>{{ infraction.date }}</td>
              <td>{{ infraction.montant }}</td>
              <td>{{ infraction.vitesse_vehicule }}</td>
              <td>{{ infraction.vitesseMax }}</td>
              <td></td>
              <td class="p-2">
                <div class="row">
                  <div class="col">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#Update">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </button>
                  </div>
                  <div class="col">
                    <button class="btn" (click)="onRemove(infraction.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                      </svg>
                    </button>
                  </div>
                  <div class="col" >
                    <button class="btn"  data-bs-toggle="modal"  data-bs-target="#Details" (click)="setInfracion(infraction)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                    </button>
                  </div>
                  <div class="col" >
                    <button class="btn" (click)="generatePDF(infraction)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        <!-- Details Modal -->
        <div class="modal fade form-group modal-lg"  id="Details"  aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Violation Description</h5>
              </div>
              <div class="modal-body">
                <div class="ticket">
                  <h1>Speeding Ticket</h1>
                  <div class="info">
                    <span>Name:</span> {{selectedInfraction?.vehicule.proprietaire.nom}}
                  </div>
                  <div class="info">
                    <span>Address:</span> 123 Main Street
                  </div>
                  <div class="info">
                    <span>Driver's License:</span> ABC123456
                  </div>
                  <div class="info">
                    <span>Date and Time:</span> {{selectedInfraction?.date}}
                  </div>
                  <div class="info">
                    <span>Location:</span> 5th Avenue, New York City, NY
                  </div>
                  <div class="info">
                    <span>Vehicle:</span> {{selectedInfraction?.vehicule.marque}} (License Plate: <b>{{selectedInfraction?.vehicule.matricule}}</b> )
                  </div>
                  <div class="info highlight">
                    <span>Speed Limit:</span> {{selectedInfraction?.vitesseMax}} km/h
                  </div>
                  <div class="info">
                    <span>Speed:</span> {{selectedInfraction?.vitesse_vehicule}} km/h
                  </div>
                  <div class="info">
                    <span>Fine:</span> {{selectedInfraction?.montant}} DH
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Update Modal -->
        <div class="modal fade form-group" id="Update"  aria-labelledby="UpdateModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="UpdateModalLabel">Update</h5>
              </div>
              <div class="modal-body">

              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
<!-- <h4>Speeding {{selectedInfraction??.vitesse_vehicule}} Km/h In {{selectedInfraction??.vitesseMax}} km/h Zone</h4>-->
<!-- <h4>Offender : </h4>-->
<!-- <p class="">{{selectedInfraction?.vehicule.proprietaire.nom}}</p>-->
<!-- <h4>Email</h4>-->
<!-- <p>{{selectedInfraction?.vehicule.proprietaire.email}}</p>-->
